@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

  --gray-100: #cacaca;
  --gray-200: #d7d7d8;
  --gray-300: #a3a3a3;

  --black-100: #b4b5b6;
  --black-200: #707070;
  --black-300: #5e5f60;
  --black-400: #585656;
  --black-600: #232323;
  --black-700: #1b1b1b;
  --black-800: #000000;

  --yellow: #ffbb4f;
}

/* Main Styles for Burger Animation */

.burger {
  width: 100%;
  height: 2px;
  background-color: white;
  position: relative;
  transition: transform 0.3s, opacity 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s;
  }

  &::before {
    top: -8px;
  }
  &::after {
    top: 8px;
  }

  &.burgerActive::before {
    transform: rotate(45deg);
    top: 0;
  }

  &.burgerActive::after {
    transform: rotate(-45deg);
    top: 0;
  }
}

/* Add a Burger active transition effect on click */
@keyframes burger {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.animate-burger {
  animation: burger 0.3s ease forwards;
}

.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

@layer utilities {
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--black-600);
    transition: all 0.5s ease;
    cursor: pointer;
  }
  /* Definindo o stroke para os textos */
  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
    text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--black-600);
    text-stroke-color: var(--black-600);
    color: transparent;
  }

  /* Quando o texto não for hoverado, ele terá a cor normal */
  .text-transparent {
    color: transparent;
  }
}